/* ---------offers-header-------- */
.offersHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3ab87d;

  color: #fff;
  padding: 0.5rem;
}

.offersHeader .needUs {
  margin-left: 1rem;
}
/* ---------------header one---------------- */

/* -----------product-header------------- */
.productHeaderTitle {
  font-size: 3rem;
  font-weight: 400;
}
.productHeaderNavButton {
  text-decoration: none;
  font-size: 1.3rem;
}
.productHeaderRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.productHeaderRow .card {
  margin: 1rem;
}
.aboutUsContentCard .card {
  margin: 1rem;
}

.ingredients {
  margin-left: 2rem;
}

/* ----------about us description--------- */

.aboutUsHeadings {
  font-size: 2.5rem;
  margin: 3rem 0rem 0rem 4rem;
  color: brown;
}
.ourStory {
  margin: 5rem 0rem 1rem 3rem;
}
.ourStoryDescription {
  font-size: 1.3rem;
}

.ourStoryImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ourStoryImage img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.ourStoryDescription ul {
  list-style-type: square;
}
.ourStoryDescription ul li {
  margin: 2rem 1rem 2rem 1rem;
}
.videoDiv {
  display: flex;
  justify-content: center;
  margin: 3rem;
}
.aboutGaumata {
  display: flex;
  margin: 4rem;
  font-size: 1.4rem;
  text-align: center;
  color: brown;
}

/* ----------Scroll bar------------ */
.scroll-left {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #3ab87d;
  color: #fff;
  border: 1px solid orange;
  padding: 0.7rem;
}

/* ------------aboutuscontent----------- */
.aboutUsContent {
  margin: 2rem;
}

/* ----------responsive styles----------- */
@media only screen and (max-width: 1140px) {
  .nav-list {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
    transition: all 0.7s ease-out;
    /* height: 447px; */
  }
  .rightNav {
    text-align: center;
  }
  /* #search {
      width: 68%;
    } */
  .sahajaKunkumaBurger {
    display: block;
  }
  .h-nav-resp {
    height: 72px;
  }
  .v-class-resp {
    opacity: 0;
  }
  /* -----------product-header------------- */
  .productHeaderTitle {
    font-size: 2rem;
    font-weight: 300;
  }
  .navigation {
    font-size: 1.1rem;
    display: block;
  }

  /* -------main content--------- */
  .aboutGaumata {
    display: flex;
    margin: 2rem;
    font-size: 1.1rem;
  }

  .ourStory {
    margin: 1rem 0rem 1rem 3rem;
  }
}

@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
    height: auto;
    padding: 0.3rem;
  }

  .search-container input[type="text"] {
    width: 80%;
    /* margin-bottom: 0.5rem; */
  }

  .search-container button {
    display: none;
  }
}
/* ------------header-logo---------- */
@media (max-width: 1012px) {
  .header {
    flex-direction: column;
  }

  .search-container {
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  .navbar {
    padding: 0.3rem;
  }
  .header input[type="text"] {
    padding: 0.6rem 0rem 0.3rem 1rem;
  }
  .offersHeader-icons {
    display: none;
  }

  .offersHeader {
    justify-content: center;
  }

  .search-container button {
    display: none;
  }

  .responsivesocialMedia {
    display: none;
  }
  .search-container button {
    display: none;
  }

  .aboutUsContent {
    margin: 0rem;
  }
}
/* ----social media----- */
.socialMediaInNavBar {
  color: white;
  font-size: 2.2rem;
  margin: 0.5rem;
  justify-content: center;
  display: flex;
}
.socialMediaInNavBar a {
  text-decoration: none;
  cursor: pointer;
}

/* --------animation on scroll--------- */

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
    /* transform: translateX(-100px); */
    /* clip-path: inset(100% 100% 0 0); */
  }
  to {
    opacity: 1;
    scale: 1;
    /* transform: translateX(0px); */
    /* clip-path: inset(0 0 0 0); */
  }
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
