/* ---------offers-header-------- */
.offersHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3ab87d;

  color: #fff;
  padding: 0.5rem;
}
.offersHeader-icons {
  margin: 0.5rem;
  fill: #fff;
  font-size: 1rem;
}
.offersHeader .needUs {
  margin-left: 1rem;
}

.socialMedia a img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}

.search-container {
  height: 3rem;
  width: 25rem;
  border: 2px solid rgb(225, 220, 220);
  border-radius: 5px;
}

.header input[type="text"] {
  font-size: 18px;
  flex: 1;
  padding: 0.6rem 0rem 0.3rem 1rem;
  border: none;
  outline: none;
}

.svg-icon {
  fill: aliceblue;
}

.svg-icon:hover {
  fill: black;
}

.socialMedia a {
  margin-top: 5rem;
}

/* -----------product-header------------- */
.productHeaderTitle {
  font-size: 3rem;
  font-weight: 400;
}

.navigation {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}
.navigation .nav-link {
  padding: 0;
}
.productHeaderRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -------product section------ */
.card-img-top {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 2rem;
  border-radius: 25px;
  border: 1px solid lightgrey;
}
.cardProducts {
  align-items: center;
  text-align: center;
  display: flex;
  max-width: 20rem;
  margin: 1rem;
  border-radius: 15px;
  height: 37rem;
}
.rowProducts {
  /* margin: 2rem; */
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.card-body {
  text-align: center;
}
.usesOfProducts {
  color: #939191;
}
.card-title-products {
  font-size: 1.2rem;
  font-weight: 600;
}
.productPrice {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 1rem;
}
.orderNowButton {
  margin: 1rem;
}

/* ----------Scroll bar------------ */
.scroll-left {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #3ab87d;
  color: #fff;
  border: 1px solid orange;
  padding: 0.7rem;
}

/* ----------product cards-------- */

.rowProducts a {
  text-decoration: none;
  color: black;
}

/* ----------responsive styles----------- */
@media only screen and (max-width: 1140px) {
  .nav-list {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
    transition: all 0.7s ease-out;
    /* height: 447px; */
  }
  .rightNav {
    text-align: center;
  }

  .productsBurger {
    display: block;
  }
  .h-nav-resp {
    height: 72px;
  }
  .v-class-resp {
    opacity: 0;
  }
  /* -----------product-header------------- */
  .productHeaderTitle {
    font-size: 2rem;
    font-weight: 300;
  }
  .navigation {
    font-size: 1.1rem;
    display: block;
  }
}

@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
    height: auto;
    padding: 0.3rem;
  }

  .search-container input[type="text"] {
    width: 80%;
    /* margin-bottom: 0.5rem; */
  }

  .search-container button {
    display: none;
  }
}
/* ------------header-logo---------- */
@media (max-width: 1012px) {
  .header {
    flex-direction: column;
  }

  .search-container {
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  .navbar {
    padding: 0.3rem;
  }
  .header input[type="text"] {
    padding: 0.6rem 0rem 0.3rem 1rem;
  }

  .offersHeader {
    justify-content: center;
  }

  .search-container button {
    display: none;
  }
  .row {
    margin: 0rem;
  }

  .responsivesocialMedia {
    display: none;
  }
  .search-container button {
    display: none;
  }
}
/* ----social media----- */
.socialMediaInNavBar {
  color: white;
  font-size: 2.2rem;
  margin: 0.5rem;
  justify-content: center;
  display: flex;
}
.socialMediaInNavBar a {
  text-decoration: none;
  cursor: pointer;
}

/* --------animation on scroll--------- */

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
    /* transform: translateX(-100px); */
    /* clip-path: inset(100% 100% 0 0); */
  }
  to {
    opacity: 1;
    scale: 1;
    /* transform: translateX(0px); */
    /* clip-path: inset(0 0 0 0); */
  }
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
