/* ------font style import------ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat" sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.page-content {
  max-width: 2000px;
  margin: auto;
  background: white;
}
.main-content {
  padding: 9rem 10px 10px 10px;
}
/* ----------------------contact us section-------------------- */

.contactContainer {
  position: relative;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  background-color: black;
  margin-top: 2rem;
}

.contactContainer .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contactContainer .container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contactContainer .container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.contactContainer .container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.contactContainer .container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #00bcd4;
}
.background {
  background: rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-blend-mode: darken;
}

/* ----------------------contact us section-------------------- */
/* ---------------footer----------- */
.text a {
  text-decoration: none;
}
.productsInFooter {
  color: white;

  cursor: pointer;
  padding: 0.5rem 0rem;
}
.productsInFooter:hover {
  color: white;
  text-decoration: underline rgb(225, 208, 55);
}
.text-footer {
  text-align: center;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  color: white;
}

/* ---------------footer----------- */

/* -------nav bar header--------*/
ul {
  list-style: none;
  font-size: 16px;
}
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}
/* -------header------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  /* z-index: var(--z-fixed); */
  z-index: 1000; /* You can adjust the z-index as needed */
}

/* ---------language select box------- */

.header .languageSection select {
  width: 5.5rem;
  height: 2rem;
  border: 2px solid black;
  border-radius: 3px;
}

.languageSection {
  margin-top: 3rem;
}

/* -------nav------- */
.nav {
  height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__data a {
  text-decoration: none;
}

.nav__list li a {
  text-decoration: none;
}

.dropdown__menu li a {
  text-decoration: none;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-semi-bold);
  text-decoration: none;
}

.logo {
  object-fit: cover;
  margin: 1rem 1rem 1rem 0rem;
}
.logo img {
  border: 1px solid #779782;
  border-radius: 50%;
  width: 6rem;
}

.brundavanamName {
  font-size: 1.3rem;
  margin-left: 0.8rem;
  color: #198e57;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
  /* background-color: gray; */
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
  margin-right: 1.5rem;
}
.nav__close {
  opacity: 0;
}

/* -----navigation for mobile devices----- */

@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    background-color: #35b478;
    color: #ffff;
    font-size: 1.2rem;
  }

  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }

  .brundavanamName {
    margin-left: 1rem;
  }
  .logo img {
    width: 4rem;
    margin: -1rem;
  }
  .main-content {
    padding-top: 7rem;
  }
  .dropdown__item div {
    padding: 0rem 1.25rem 0rem 0.3rem;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

/* -----show-menu----- */

.show-menu {
  opacity: 1;
  top: 5.5rem;
  pointer-events: initial;
}

/* ------show-icon------ */

.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/* -------dropdown------ */

.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  /* color: var(--white-color);
    background-color: var(--black-color-light); */
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color 0.3s;
  background-color: #35b478;
  color: #ffff;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: transparent;
  color: #fff;
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* -------show dropdown menu and sub menu------- */

.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

/* ------rotate drop down icon------ */

.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/* --------dropdown submenu------ */

.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/* -----break points----- */

/* -----for small devices----- */

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
  .nav__link {
    padding-inline: 1rem;
  }
}

/* ------for large devices------ */

@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }
  .nav {
    /* height: calc(var(--header-height) + 2rem); */
    height: 8rem;
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }
  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }
  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }
  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }
  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }
  /* -----show dropdown menu---- */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top 0.3s;
    background-color: #35b478;
    color: #ffff;
  }

  /* ----show dropdown submenu---- */
  .dropdown__subitem:hover .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
    background-color: #35b478;
    color: #ffff;
  }
}

@media only screen and (max-width: 1140px) {
  .languageSection {
    margin-top: 1.5rem;
  }
  .header .languageSection select {
    width: 3.2rem;
  }
}

@media (width: 344px) {
  .header .languageSection select {
    width: 2.6rem;
  }
}
